body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.everything {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}

.navbar {
  height: 6rem;
  display: flex;
  /* background-color: #7cffcb;
  background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%); */

}

.link-box {
  height: 6rem;
  width: 80%;
  padding-right: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.links {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem;
}


.links:hover {
  cursor: pointer;
  color: #06bcfb;
}

.icon-box {
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-icon {
  height: 60px;
  width: 60px;
}

#sharkProfile {
  border-radius: 50%;;
}

.typewriter-container {
  display: inline-block;
}

.typed-out {
  overflow: hidden;
  border-right: .15em solid #06bcfb;
  white-space: nowrap;
  width: 0;
  animation: typing 3s forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.hero-button:hover {
  background-color: #fff;
}

.shark-chart {
  height: 560px;
  width: auto;
}

.shark-image {
  display: block;
  width: 90%;
  border-radius:10%;
}

.shark-image:hover {
  transform: scale(1.2);
  cursor: pointer;
  border-radius: 0%;
  background-color: #1DB614;
  -webkit-transition: transform 1s ease-in-out;
}

article {
  display: flex;
  width: 200%;
  animation: bannermove 20s linear infinite;
}


.shark-div {
  width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  width: 100%;
  /* background: blue; */
}

@keyframes bannermove {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}

.grid-shark {
  width: 75%;
  height: auto;
}

.banner-box {
  border: 1px solid black ;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
