body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: 	#303030;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-img {
  width: 5rem;
  height: auto;
  border-radius: 50%;
}

@media only screen and (max-width: 900px) {
  .header-img {
    width: 3rem;
  }
}

.app-style {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.hero-background {
  background-image: linear-gradient(160deg, #0093E9, #80D0C7)
}

.hero-img {
  width: 80%;
  height: auto;
}

/* .banner-container{
  max-width: 50%;
  overflow: visible;
} */

.shark-image {
  display: block;
  width: 90%;
  border-radius:10%;
}

.shark-image:hover {
  transform: scale(1.2);
  cursor: pointer;
  border-radius: 0%;
  background-color: #1DB614;
  -webkit-transition: transform 1s ease-in-out;
}

/* section {
  width: 100%;
  overflow: hidden;
} */

article {
  display: flex;
  width: 200%;
  animation: bannermove 20s linear infinite;
}


.shark-div {
  width: 100%;
}

ul {
  display: flex;
  background: black;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  width: 100%;
  /* background: blue; */
}


/* /* li:nth-child(2) {
  background: green;
} */

/* li:nth-child(3) {
  background: yellow;
} */

@keyframes bannermove {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}

.grid-shark {
  width: 75%;
  height: auto;
}
